@page
@model VehiculosTransporte.App.Frontend.Pages.ListaMecanicosModel
@{
}
<h1>Listado de Mecanicos</h1>
<table class="table">
    @foreach (var mecanico in Model.listaMecanicos)
    {
        <tr>
            <td>@mecanico.Id </td>
            <td>@mecanico.Nombres </td>
            <td>@mecanico.Apellidos </td>
        
            <td>
                <a class="btn btn-primary tabla-btn" asp-page="./DetallesMecanicos"asp-route-Detalles= "@mecanico.Id"></a>
            </td>
        
        </tr>
    }
</table>